{{define "dash"}}

    {{ template "header" . }}

    <div class="container">
        <div class="row" style="justify-content: center; margin-top: 20px">
            <div class="col-md-6 col-12">
                <h1 id="device"></h1>

                <div class="card">
                    <div class="card-body">
                        <div class="card-text">
                            <h4>Currently subscribed</h4>
                            <div class="mb-3">
                                <div class="list-group">
                                    {{if .users}}
                                        {{range $val := .users}}
                                            <button type="button"
                                                    class="list-group-item list-group-item-action"
                                                    data-chat-id="{{$val.ChatId}}"
                                                    title="Remove user '{{$val.User}}'">
                                                {{$val.User}}
                                            </button>
                                        {{end}}
                                    {{else}}
                                        No users are subscribed to this device
                                    {{end}}
                                </div>
                            </div>

                            {{ if not .isRegistered}}
                                <script async src="https://telegram.org/js/telegram-widget.js?22"
                                        data-telegram-login="BorisDoorbellBot" data-size="large"
                                        data-onauth="onTelegramAuth(user)" data-request-access="write"></script>
                            {{end}}

                            <h4 style="margin-top: 30px">Change password</h4>
                            <form id="form-changepassword">
                                <div class="mb-3">
                                    <label for="password" class="form-label">Password</label>
                                    <input type="password" class="form-control" id="password" name="password" required>
                                </div>
                                <div class="mb-3">
                                    <label for="password-repeat" class="form-label">Repeat password</label>
                                    <input type="password" class="form-control" id="password-repeat"
                                           name="password-repeat"
                                           required>
                                </div>
                                <input type="submit" class="btn btn-primary" value="Change password">
                            </form>

                            {{if .isAdmin}}
                                <p style="margin-top: 40px">
                                    <a href="/admin">Admin panel</a>
                                </p>
                            {{end}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            const currentDevice = () => {
                const path = window.location.pathname;
                const parts = path.split('/');
                if (parts.length < 3) {
                    return null;
                }

                return parts[2];
            }

            const getTargetElements = () => {
                return document.querySelectorAll('[data-chat-id]');
            }

            // noinspection JSUnusedGlobalSymbols
            async function onTelegramAuth(user) {
                // Register telegram login
                await fetch('/loginTelegram', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(user),
                });


                const response = await fetch(`/devices/${currentDevice()}/users`, {
                    method: 'POST',
                    body: new URLSearchParams({'chat_id': user.id, 'username': name})
                });

                if (response.ok) {
                    window.location.reload();
                    return;
                }

                alert('Failed to add user');
            }

            document.addEventListener('DOMContentLoaded', function () {
                const device = document.getElementById('device');
                device.innerText = currentDevice();

                // Remove on click
                getTargetElements().forEach(e => e.addEventListener("click", async evt => {
                    if (!confirm('Are you sure you want to remove this user?')) {
                        return;
                    }

                    const response = await fetch(`/devices/${currentDevice()}/users/${evt.target.dataset.chatId}`, {
                        method: 'DELETE'
                    });

                    if (response.ok) {
                        window.location.reload();
                        return;
                    }

                    alert('Failed to remove user');
                }))

                const changePasswordForm = document.getElementById('form-changepassword');
                changePasswordForm.addEventListener('submit', async function (event) {
                    event.preventDefault();
                    const password = document.getElementById('password').value;
                    const passwordRepeat = document.getElementById('password-repeat').value;
                    if (password !== passwordRepeat) {
                        alert('Passwords do not match');
                        return;
                    }

                    const response = await fetch(`/devices/${currentDevice()}/password`, {
                        method: 'PUT',
                        body: new FormData(changePasswordForm)
                    });

                    if (response.ok) {
                        window.location.reload();
                        return;
                    }

                    alert('Failed to change password');
                });
            });
        </script>
    </div>

{{end}}